<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Navigation bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/navbar.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/open_sideNavigation.js"></script>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/"><b>Home page</b></a>
        <a href="/admin" th:if="${isAdmin}"><b>Admin page</b></a>
        <a href="/shoes/get" th:unless="${isAdmin}"><b>Main page</b></a>
        <a href="/sneakers"><b>Shoes</b></a>
        <a href="/clothes"><b>Clothes</b></a>
        <a th:href="@{/shoes/favorites}"><b>Favorites</b>&#10084;</a>
        <a href="/auction"><b>Special events</b></a>
        <a th:href="@{/logout}"><b>Logout</b></a>
    </div>
<header>
    <div class="navbar">
        <span id="sideNavIcon" onclick="openNav()">&#9776;</span>
        <img id="navIcon" th:src="@{/images/stockx-vector-logo.svg}" class="u-logo-image u-logo-image-1" alt="">
        <div class="navItems">
            <div id="Username">
                <p>Hello, <b th:text="${username}"></b></p>
            </div>
            <select name="language" id="language" title="language" onchange="changeLanguage()">
                <option value="english">eng</option>
                <option value="bulgarian">bg</option>
            </select>
            <div id="likesCount">
                <a th:href="@{/shoes/favorites}">
                    <span>&#10084;</span>
                    <i style="position: absolute; z-index: 10; color: black;" th:text="${countOfFavorites}"></i>
                </a>
            </div>
            <div th:if="${not isAdmin}" id="shopping-cart">
                <a th:href="@{/shoes/checkout}">
                    <img id="cart-image" src="/images/shopping-cart-80.png" alt="" style="size: 20px;"/>
                </a>
            </div>
        </div>
    </div>
    <div>
        <ul class="secondaryNav">
            <li><a href="/">Home</a></li>
            <li th:if="${isAdmin}"><a href="/admin">Admin page</a></li>
            <li th:if="${not isAdmin}"><a href="/shoes/get">Shoes</a></li>
            <li><a href="/sneakers">Sneakers</a></li>
            <li><a href="/clothes">Clothes</a></li>
            <li><a href="/auction">Auctions</a></li>
            <li id="icon">
                <a href="javascript:void(0);" title="secondaryNavResp" class="icon" onclick="makeSecondaryNavResponsive()">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>    
    </div>
</header>
</body>
</html>