<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Error page</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">

                </div>
                <div class="col-md-6 align-self-center">
                    <h1>404</h1>
                    <h2>UH OH! You're lost.</h2>
                    <p>The page you want to access is not found!</p>
                    <a class="btn green" href="/">HOME</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>