<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/offers_list.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="/scripts/open_sideNavigation.js"></script>
    <script src="/scripts/offers_list.js"></script>
    <script src="/scripts/load_more_cards.js"></script>
    <title>Sneakers</title>
</head>
<body onload="setLanguage(); setPathAlias(); alignCards()">
<div th:if="${not isBgLang}">
    <header th:replace="/navbar/navigation_bar.html :: body"></header>
</div>
<div th:if="${isBgLang}">
    <header th:replace="/navbar/navigation_bar_bg.html :: body"></header>
</div>
<section id="sneakersSection">
    <div class="row">
        <button onclick="openFilters()" class="filtersBtn">Show filters</button>
        <div class="column" id="leftColumn">
            <div>
                <h3 class="sectionTitle" th:text="${isBgLang} ? 'Продукти' : 'Products'"></h3>
                <ul class="menuList">
                    <li class="active" style="pointer-events: none;">
                        <a href="/sneakers">Sneakers</a>
                    </li>
                    <li>
                        <a href="/clothes">Clothes</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="sectionTitle" th:text="${isBgLang} ? 'Марка' : 'Brand'"></h3>
                <ul class="allFilters">
                    <li th:each="brand : ${brands}" th:classappend="${brandFilter eq #strings.toLowerCase(brand)}?active" th:attr="style=${brandFilter eq #strings.toLowerCase(brand) ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <form th:action="@{/sneakers/brand}" method="post" style="margin: 0;">
                            <input type="hidden" name="brand" th:value="${brand}">
                            
                            <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName" th:text="${brand}"></span>
                            </button>
                        </form>
                    </li>
                    <!-- <li>
                        <form th:action="@{/sneakers/{brand}}" method="get" style="margin: 0;">
                            <input type="hidden" name="brand" value="adidas">
                            
                            <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName">Adidas</span>
                            </button>
                        </form>
                    </li>
                    <li>
                        <form th:action="@{/sneakers/{brand}}" method="get" style="margin: 0;">
                            <input type="hidden" name="brand" value="jordan">
                            
                            <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName">Air Jordan</span>
                            </button>
                        </form>
                    </li>
                    <li>
                        <span href="">Vans</span>
                    </li>
                    <li>
                        <span href="">Nike</span>
                    </li>
                    <li>
                        <span href="">Puma</span>
                    </li>
                    <li>
                        <span href="">Reebok</span>
                    </li>
                    <li>
                        <span href="">Yeezy</span>
                    </li> -->
                </ul>
            </div>
            <div>
                <h3 class="sectionTitle" th:text="${isBgLang} ? 'Цветове' : 'Colors'"></h3>
                <ul class="allFilters">
                    <li th:each="colorOpt : ${T(com.example.demo.test.models.enums.Colors).values()}" 
                        th:classappend="${colorFilter eq #strings.toLowerCase(colorOpt)}?active" 
                        th:attr="style=${colorFilter eq #strings.toLowerCase(colorOpt) ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <div class="justify-content-left">
                            <form class="d-flex" th:id="${colorOpt}" th:action="@{/sneakers/color}" method="post" style="margin: 0;">
                                <input type="checkbox" class="li-inputBox" name="color" th:value="${colorOpt}" th:checked="${colorFilter eq #strings.toLowerCase(colorOpt)}" title="color" th:onchange="document.getElementById([[${colorOpt}]]).submit()">    
                                <span class="checkbox-span-text" th:text="${colorOpt}"></span>
                            </form>
                        </div>
                    </li>
                    <!--
                        <li>
                        <div class="justify-content-left">
                            <form class="d-flex" id="320d" th:action="@{/sneakers/category}" method="post" style="margin: 0;">
                                <input type="checkbox" class="li-inputBox" name="category" value="320d" title="women" onchange="document.getElementById('320d').submit()">    
                                <span class="checkbox-span-text">320d</span>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-left">
                            <form class="d-flex" id="children" th:action="@{/sneakers/category}" method="post" style="margin: 0;">
                                <input type="checkbox" class="li-inputBox" name="category" value="golf6" title="women" onchange="document.getElementById('children').submit()">    
                                <span class="checkbox-span-text">Golf 6</span>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-left">
                            <form class="d-flex" id="preSchool" th:action="@{/sneakers/category}" method="post" style="margin: 0;">
                                <input type="checkbox" class="li-inputBox" name="category" value="Cclass" title="women" onchange="document.getElementById('preSchool').submit()">    
                                <span class="checkbox-span-text">C class</span>
                            </form>
                        </div>
                    </li> 
                -->
                </ul>
            </div>
            <div>
                <h3 class="sectionTitle" th:text="${isBgLang} ? 'Таблица с размери' : 'Size table'"></h3>
                <div class="sizes-grid-container">
                    <div th:classappend="${sizeFilter eq #strings.toLowerCase('38')}?active" th:attr="style=${sizeFilter eq #strings.toLowerCase('38') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <form th:action="@{/sneakers/size}" method="post" style="margin: 0;">
                            <input type="hidden" name="size" value="38">
                            
                            <button type="submit" th:disabled="${sizeFilter eq '38'}" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName">38</span>
                            </button>
                        </form>
                    </div>
                    <div th:classappend="${sizeFilter eq #strings.toLowerCase('39')}?active" th:attr="style=${sizeFilter eq #strings.toLowerCase('39') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <form th:action="@{/sneakers/size}" method="post" style="margin: 0;">
                            <input type="hidden" name="size" value="39">
                            
                            <button type="submit" th:disabled="${sizeFilter eq '39'}" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName">39</span>
                            </button>
                        </form>
                    </div>
                    <div th:classappend="${sizeFilter eq #strings.toLowerCase('40')}?active" th:attr="style=${sizeFilter eq #strings.toLowerCase('40') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <form th:action="@{/sneakers/size}" method="post" style="margin: 0;">
                            <input type="hidden" name="size" value="40">
                            
                            <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName">40</span>
                            </button>
                        </form>
                    </div>  
                    <div th:classappend="${sizeFilter eq #strings.toLowerCase('41')}?active" th:attr="style=${sizeFilter eq #strings.toLowerCase('41') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <form th:action="@{/sneakers/size}" method="post" style="margin: 0;">
                            <input type="hidden" name="size" value="41">
                            
                            <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName">41</span>
                            </button>
                        </form>
                    </div>
                    <div th:classappend="${sizeFilter eq #strings.toLowerCase('41.5')}?active" th:attr="style=${sizeFilter eq #strings.toLowerCase('41.5') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <form th:action="@{/sneakers/size}" method="post" style="margin: 0;">
                            <input type="hidden" name="size" value="41.5">
                            
                            <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName">41.5</span>
                            </button>
                        </form>
                    </div>
                    <div th:classappend="${sizeFilter eq #strings.toLowerCase('42')}?active" th:attr="style=${sizeFilter eq #strings.toLowerCase('42') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <form th:action="@{/sneakers/size}" method="post" style="margin: 0;">
                            <input type="hidden" name="size" value="42">
                            
                            <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName">42</span>
                            </button>
                        </form>
                    </div>
                    <div th:classappend="${sizeFilter eq #strings.toLowerCase('42.5')}?active" th:attr="style=${sizeFilter eq #strings.toLowerCase('42.5') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <form th:action="@{/sneakers/size}" method="post" style="margin: 0;">
                            <input type="hidden" name="size" value="42.5">
                            
                            <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName">42.5</span>
                            </button>
                        </form>
                    </div>
                    <div th:classappend="${sizeFilter eq #strings.toLowerCase('43')}?active" th:attr="style=${sizeFilter eq #strings.toLowerCase('43') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <form th:action="@{/sneakers/size}" method="post" style="margin: 0;">
                            <input type="hidden" name="size" value="43">
                            
                            <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                <span id="brandName">43</span>
                            </button>
                        </form>
                    </div>
                    <div>9.5</div>
                    <div>10</div>
                  </div>
            </div>
            <div>
                <h3 class="sectionTitle" th:text="${isBgLang} ? 'Цена' : 'Price'"></h3>
                <ul class="allFilters">
                    <li th:classappend="${priceFilter eq #strings.toLowerCase('0-100')}?active" th:attr="style=${priceFilter eq #strings.toLowerCase('0-100') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <div class="justify-content-left">
                            <form class="d-flex" id="priceForm" th:action="@{/sneakers/price}" method="post" style="margin: 0;">
                                <input type="checkbox" class="li-inputBox" name="price" value="0-100" th:checked="${priceFilter eq '0-100'}" title="price" onchange="document.getElementById('priceForm').submit()">    
                            <span class="checkbox-span-text">Under $100</span>
                            </form>
                        </div>
                    </li>
                    <li th:classappend="${priceFilter eq #strings.toLowerCase('100-200')}?active" th:attr="style=${priceFilter eq #strings.toLowerCase('100-200') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <div class="justify-content-left">
                            <form class="d-flex" id="priceForm1" th:action="@{/sneakers/price}" method="post" style="margin: 0;">
                                <input type="checkbox" class="li-inputBox" name="price" value="100-200" th:checked="${priceFilter eq '100-200'}" title="price" onchange="document.getElementById('priceForm1').submit()">
                                <span class="checkbox-span-text">$100-$200</span>
                            </form>
                        </div>
                    </li>
                    <li th:classappend="${priceFilter eq #strings.toLowerCase('200-300')}?active" th:attr="style=${priceFilter eq #strings.toLowerCase('200-300') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <div class="d-flex justify-content-left">
                            <form class="d-flex" id="priceForm2" th:action="@{/sneakers/price}" method="post" style="margin: 0;">
                                <input type="checkbox" class="li-inputBox" name="price" value="200-300" th:checked="${priceFilter eq '200-300'}" title="price" onchange="document.getElementById('priceForm2').submit()">
                                <span class="checkbox-span-text">$200-$300</span>
                            </form>
                        </div>
                    </li>
                    <li th:classappend="${priceFilter eq #strings.toLowerCase('300-400')}?active" th:attr="style=${priceFilter eq #strings.toLowerCase('300-400') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <div class="d-flex justify-content-left">
                            <form class="d-flex" id="priceForm3" th:action="@{/sneakers/price}" method="post" style="margin: 0;">
                                <input type="checkbox" class="li-inputBox" name="price" value="300-400" th:checked="${priceFilter eq '300-400'}" title="price" onchange="document.getElementById('priceForm3').submit()">
                                <span class="checkbox-span-text">$300-$400</span>
                            </form>
                        </div>
                    </li>
                    <li th:classappend="${priceFilter eq #strings.toLowerCase('400-500')}?active" th:attr="style=${priceFilter eq #strings.toLowerCase('400-500') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <div class="d-flex justify-content-left">
                            <form class="d-flex" id="priceForm4" th:action="@{/sneakers/price}" method="post" style="margin: 0;">
                                <input type="checkbox" class="li-inputBox" name="price" value="400-500" th:checked="${priceFilter eq '400-500'}" title="price" onchange="document.getElementById('priceForm4').submit()">
                                <span class="checkbox-span-text">$400-$500</span>
                            </form>
                        </div>
                    </li>
                    <li th:classappend="${priceFilter eq #strings.toLowerCase('500')}?active" th:attr="style=${priceFilter eq #strings.toLowerCase('500') ? 'pointer-events:none; opacity: 0.6' : ''}">
                        <div class="d-flex justify-content-left">
                            <form class="d-flex" id="priceForm5" th:action="@{/sneakers/price}" method="post" style="margin: 0;">
                                <input type="checkbox" class="li-inputBox" name="price" value="500" th:checked="${priceFilter eq '500'}" title="price" onchange="document.getElementById('priceForm5').submit()">
                                <span class="checkbox-span-text">$500+</span>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>    
        </div>
        <div class="column" id="rightColumn">
            <ul class="path-alias">

              </ul>
              <!-- filters list -->
              <ul class="filters">
                <li th:each="filter : ${filters}" class="filter">
                    <div class="d-flex justify-content-left">
                        <form th:action="@{/sneakers/clear}" method="post" style="margin: 0;">  
                            <input type="hidden" name="filter" th:value="${filter.type}">                 
                            <button type="submit" title="submitBtn" style="border: 0px; background-color: lightgrey; color: black; padding: 0;">
                                <span id="brandName" class="d-flex">
                                    <p th:text="${filter.value}" style="text-transform: capitalize; margin: 0;"></p>
                                    <p style="padding: 5px 0px 0px 10px; font-weight: 400; font-size: 12px; margin: 0;">x</p></span>
                            </button>
                        </form>
                    </div>
                </li>
              </ul>
              <!-- column 2 title here-->
            <div class="row" id="card-container">
                <h4 id="noResults" style="display: none;">No matches found!</h4>
                <!--<div th:each="shoe : ${offers}" class="col-12 col-md-6 col-lg-4 mt-5 mb-4" style="align-items: stretch;">
                    <a th:href="@{${isBgLang} ? |/bg/shoes/${shoe.id}| : |/shoes/${shoe.id}| }">
                        <div class="card">
                            <div class="card-header">
                                <img th:src="|/images/${shoe.mainImageUrl}|" alt="image for shoe" style="float: right">
                            </div>
                            <div class="card-body" th:attr="style=${shoe.isAuctionOffer} ? 'background-color:gold' : 'background-color:white' ">
                                <p th:text="${shoe.brand + ' ' + shoe.model}"></p>
                                <p class="card-text" >ReleaseDate: <b th:text="${shoe.releaseDate}"></b></p>
                                <p class="card-text">Price: <b th:text="${shoe.price} + '$'"></b></p>
                            </div>
                        </div>
                    </a>
                </div> -->
            </div>
            <div class="card-actions">
                <button id="load-more">Load more</button>
            </div>
        </div>
      </div>
      
    </section>
    <div th:replace="/footer/footer.html :: footer"></div>
    
<script th:inline="javascript">
    var offers = [[${offers}]];
    setCardsData(offers);
</script>