<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html;"/>
    <title>Edit clothes modal</title>
    <link rel="stylesheet" th:href="@{/modal-container.css}">
</head>
<body>
<div id="id08" class="modal">
  <form class="modal-content animate" id="modalClothesEditForm" method="post" enctype="multipart/form-data">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id08').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label><b>Brand</b></label>
      <select class="form-control" id="clothBrandOptions" name="brand" title="brand">
        <option id="brand" th:each="brandOpt : ${T(com.example.demo.test.models.enums.ClothesBrands).values()}" th:text="${brandOpt}" th:value="${brandOpt}"></option>
      </select>
      
      <label><b>Model</b></label>
      <input type="text" class="form-control" placeholder="Model.." name="model" id="clothModel" required>

      <label><b>Price</b></label>
      <input type="number" class="form-control" placeholder="Price.." name="price" id="clothPrice" required>

      <label><b>ReleaseDate</b></label>
      <input type="date" class="form-control" placeholder="Release date.." name="releaseDate" id="clothReleaseDate" required>

      <label><b>Images</b></label>
      <p style="font-size: 20px;">Current file: <b id="imagePath"></b></p>
      <input type="file" id="file-input" title="files" class="form-control" name="images" accept="image/png, image/jpeg" multiple>

      <button type="submit" class="btn btn-primary">Update</button>
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id08').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>
</body>
</html>